<main class="py-5">
  <div class="album py-5 bg-primary bg-opacity-10 ">
    <div class="container">
      <div class="py-5 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <% for(book of books) {%>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Thumbnai" preserveAspectRatio="xMidYMid slice" focusable="false"
                src="<%= book.picture %>" alt="<%= book.picture %>" />
              <div class="card-body">
                <book-title><%= book.title  %></book-title>
                <h2 class="book-author"><%= book.author  %> </h2>

                <p class="card-text book-description"> <%= book.description %> </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/books/book/<%=book._id %>"> <button type="button" class="btn btn-sm btn-outline-secondary"> <i class="bi bi-eye"></i> voir</button> </a>
                    <a href="<%= book.document %>"> <button type="button" class="btn btn-sm btn-outline-secondary"> <i class="bi bi-download"></i> telecharger</button> </a>
                    <a href="#"> <button type="button" class="btn btn-sm btn-outline-secondary" disabled> <i class="bi bi-chat-dots"></i> avis</button> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
